@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.banner {
  background-image: url('https://www.hdri-hub.com/media/k2/galleries/757/loc00180_2_0Space_Sky_preview.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
}

.rocket-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


